.custom-row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    display: block !important;
}

.no-show-bg {
    background-color:#F2F2F2;
}
.flag-bg {
    background-color:#F8E7E6;
}
.modal-header.display{
    display: block!important;

}
.row.upload-name-list.upload{
    margin-left: 5px;
}