.float-left {
    float: left;
  }
.body-sign-in-box {
    height: 100%;  
}    
.global-container{
    margin-top: 0 !important;
    padding-top: 4% !important;
}

.floating-label-group .form-control {
    font-size: 14px !important;
}
.blue-button{
    cursor: pointer;
}    